$main-color__bg_dark: #202023;
$main-color__text_dark: #d4d4d4;
$main-color__accent_dark: #816797;


$main-color__bg_white: #F0EBE3;
$main-color__text_white: #7D9D9C;
$main-color__accent_white: #576F72;

body {background: $main-color__bg_dark!important;}
a {text-decoration: none!important;}

::-moz-selection { /* Code for Firefox */
  color: $main-color__text_dark;
  background: $main-color__accent_dark;
}

::selection {
  color: $main-color__text_dark;
  background: $main-color__accent_dark;
}

body::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

body::-webkit-scrollbar-track {
  box-shadow: $main-color__bg_dark
}

body::-webkit-scrollbar-thumb {
  background-color: $main-color__accent_dark;
  border-radius: 10px;
}




.header {
  background: #20202380;
  backdrop-filter: blur(10px);

  text-decoration: none;

  /* Note: backdrop-filter has minimal browser support */
  .header__logo {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #D5D5D5!important;

    &:hover {
      color: $main-color__accent_dark!important;
      svg {
        .header__logo_spinning{
          fill: $main-color__accent_dark!important;
        }
      }
    }
  }
  .header__link {
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #D5D5D5;
    &:hover {
      color: $main-color__accent_dark!important;
    }
    &:focus{
      color: $main-color__accent_dark!important;
    }
  }
  .header__burger{
    background: rgba($main-color__accent_dark, 0.81);
    border-radius: 10px;
    padding: 10px!important;
    span{
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .header__burger:focus{
    box-shadow: none;
  }
  .header__menu{
    background: $main-color__bg_dark;
    border:1px solid $main-color__accent_dark;
    border-radius: 10px;
    .header__menu_link{
      background: none;
        text-decoration: none;
        color: $main-color__text_dark;
      &:hover{
        background: rgba($main-color__text_dark, 10%);
      }
    }
  }
}

.main{
  .main__hello{
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    color: #D4D4D4;

    background: rgba(212, 212, 212, 0.09);
    border-radius: 10px;
  }
  .main__avatar {
    @media (max-width: 576px) {
      .main__avatar_text h1{
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #d4d4d4;
      }
    }
    @media (min-width: 577px) {
      .main__avatar_text h1{
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #d4d4d4;
      }
    }
    .main__avatar_text h2{
      font-family: 'Satoshi-Regular' ;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #d4d4d4;
    }
    .main__avatar_image{
      border: 2px solid rgba(212, 212, 212, 0.65);
      border-radius: 48px;
    }
  }
  .main__about{
    h1{
      font-family: 'Neutral Face';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #d4d4d4;
      border-bottom: 2px solid currentColor;
    }
    p{
      font-family: 'Satoshi Variable';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 118.8%;
      /* or 19px */

      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #d4d4d4;
    }
    .main__about_portfolio-button{
      border-radius: 10px;
      text-decoration: none!important;
    }
    a{
      font-family: 'Satoshi Variable';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;

      color: #D4D4D4;
    }
  }
  .main__bio{
    h1{
      font-family: 'Neutral Face';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #d4d4d4;
      border-bottom: 2px solid currentColor;
    }
    .main__bio_list-group_item{
      background: none;
      border: none;

      font-family: 'Satoshi Variable';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 118.8%;
      /* identical to box height, or 19px */

      display: flex;
      align-items: center;

      color: #FFFFFF;
      span {
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 118.8%;
        /* identical to box height, or 19px */

        display: flex;
        align-items: center;

        color: #FFFFFF;
      }
    }
  }
  .main__socials{
    h1{
      font-family: 'Neutral Face';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-transform: capitalize;

      color: #d4d4d4;
      border-bottom: 2px solid currentColor;
    }
    .main__socials_link{
      font-family: 'Satoshi Variable';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 118.8%;
      /* identical to box height, or 19px */

      display: flex;
      align-items: center;

      color: #d4d4d4;
      &:hover{
        color: $main-color__accent_dark!important;
        background: rgba($main-color__accent_dark, 0.2);
        border-radius: 4px;
        svg>path{
          fill: $main-color__accent_dark!important;
        }
      }
    }
  }
}

.footer{
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #d4d4d4;

  a{
    color: $main-color__accent_dark;
    &:hover{
      color: $main-color__accent_dark;
      text-shadow: #673ab7 1px 0 10px;
    }
  }
}

.portfolio{
  .portfolio__category{
    &>h1{
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #d4d4d4;
        border-bottom: 2px solid currentColor;
    }
    .portfolio__work{
      img {
        border-radius: 20px;
      }
      h1 {
        font-family: 'Neutral Face';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;

        color: #FFFFFF;
      }
      p {
        font-family: 'Satoshi Variable';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 118.8%;
        /* or 19px */

        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
      }
    }
  }
  .portfolio__work{
    .portfolio__work_image{
      width: 100%;
    }
  }
}

.breadcrumbs{
  ol{
    padding: 0;
  }

  .breadcrumb__separator{
    color: $main-color__text_dark;
  }

  .breadcrumbs__link{
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #d4d4d4;
    border-bottom: 2px solid currentColor;
  }
  .breadcrumbs__link_current{
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    border-bottom: none;

    color: #6E5981;
  }
}

.work{
  .work__description{
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 118.8%;
    /* or 19px */

    display: flex;
    align-items: center;

    color: #FFFFFF;

  }
  .work__list{
    .work__list_item{
      .work__list_item-badge{
        color: $main-color__accent_dark;
        background-color: rgba($main-color__accent_dark, 0.16);
        border-radius: 5px;
        text-transform: capitalize;
      }
      .work__list_item-link{
        color: $main-color__accent_dark;
      }
      .work__list_item-text{
        color: $main-color__text_dark;
      }
    }
  }
}